body {
	background-color: #343a40;
	color: #f8f9fa;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

h1,
h2 {
	color: #f8f9fa;
}

html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer {
	background-color: #343a40;
	color: white;
	padding: 10px 0;
	text-align: center;
	position: relative;
	width: 100%;
}


.btn-group .btn {
	margin: 5px;
	background-color: #3c7cb4;
	color: #f8f9fa;
	border: none;
}

.btn-group .btn:hover {
	background-color: #0400ff;
}

.result {
	font-size: 1.5em;
	margin-top: 20px;
	color: #f8f9fa;
}

.hidden {
	display: none;
}

#username-section,
#instructions-section,
#game-section {
	background-color: #495057;
	padding: 20px;
	border-radius: 10px;
	margin-top: 20px;
	margin: auto;
}

#labelh1 {
	padding-bottom: 20px;
}

input[type="text"] {
	background-color: #6c757d;
	color: #f8f9fa;
	border: none;
	padding: 10px;
	border-radius: 5px;
}

input[type="text"]::placeholder {
	color: #ced4da;
}

button {
	border-radius: 5px;
}

button#start-game,
button#proceed-game,
button#reset-game {
	background-color: #007bff;
	color: #f8f9fa;
	border: none;
}

button#start-game:hover,
button#proceed-game:hover,
button#reset-game:hover {
	background-color: #0056b3;
}

.choice-img {
	width: 100px;
	height: auto;
	margin: 10px;
	border: 2px solid transparent;
	transition: border-color 0.3s;
}

.choice-img.selected {
	border-color: #007bff;
}

.choice-label {
	font-size: 1.2em;
	color: #f8f9fa;
	margin-top: 5px;
}

#reset-game {
	width: 100px;
	height: auto;
	margin-top: 20px;
	cursor: pointer;
}